@define-color base rgb(7, 0, 10);
@define-color background rgb(15, 10, 20);
@define-color hover rgb(150, 150, 150);
@define-color click rgb(175, 175, 175);
@define-color text rgb(235, 235, 240);
@define-color main rgb(74, 143, 231);
@define-color warn rgb(249, 248, 113);
@define-color teal rgb(0, 201, 187);
@define-color error rgb(160, 21, 62);


* {
    font-family: "JetBrainsMono Nerd Font", Roboto, Helvetica, Arial, sans-serif;
}

window#waybar {
    margin: 0;
    background-color: rgba(0, 0, 0, 0);
}

button {
    all:unset;
    border-radius: 0;
    padding: 2px;
}

#taskbar,
#clock,
#workspaces,
#idle_inhibitor,
#custom-swaync,
#powermanagement,
#mpris,
#custom-updates,
#pulseaudio,
#privacy,
#extra,
#network,
#stats {
    font-size: 0.8rem;
    margin: 0;
    margin-top: 0.3rem;
    color: @text;
    background-color: alpha(@background, 0.75);
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

#extra {
    border-radius: 0 0.33rem 0.33rem 0;
    padding-right: 0.25rem;
}

#network {
    border-radius: 0.33rem 0 0 0.33rem;
    padding-left: 0.75rem;
}

#custom-drawer,
#tray {
    margin-right: 0.5rem;
}

#tray {
    padding-left: 0.5rem;
}

#workspaces {
    border-radius: 0.33rem;
}

#clock {
    margin-left: 0;
    padding-left: 1rem;
}

#custom-swaync {
    padding: 0 0.85rem;
    padding-right: 1rem;
}

#mpris {
    margin-right: 2rem;
    border-radius: 0.33rem;
    padding-left: 0.3rem;
    padding-right: 0.75rem;
}

#privacy {
    background-color: alpha(@error, 0.8);
    border-radius: 0.33rem;
}

#custom-swaync.notification,
#custom-swaync.inhibited-notification,
#custom-swaync.dnd-inhibited-notification {
    background-color: alpha(@main, 0.8);
    padding-right: 0.70rem;
    transition: background-color 0.5s ease;
}


#custom-updates {
    margin-left: 0.4rem;
    margin-right: 0;
}

#taskbar button {
    margin: 0;
    padding: 0rem 0.6rem;
    border-radius: 0.33rem;
}

#taskbar button:hover {
    transition: all 0.3s ease;
    background-color: alpha(@hover, 0.8);
}

#taskbar button.active {
    transition: all 0.3s ease;
    background-color: alpha(@text, 0.1);
}

#workspaces button {
    font-size: 1.2rem;
    padding: 0 0.4rem;
    color: alpha(@text, 0.8);
    transition: all 0.3s ease;
    border: none;
}

#workspaces button:hover {
    color: alpha(@hover, 0.8);
}

#workspaces button.active {
    color: alpha(@text, 0.8);
}

#workspaces button.empty {
    color: alpha(@text, 0.1);
}

#workspaces button.empty:hover {
    color: alpha(@hover, 0.4);
}

#workspaces button.empty.active {
    color: alpha(@text, 0.4);
}

#power-profiles-daemon {
    margin-right: 1rem;
}

#power-profiles-daemon.performance {
    color: @error;
}


#power-profiles-daemon.balanced {
    color: @text;
}

#power-profiles-daemon.power-saver {
    color: @teal;
}

#battery {
    color: @text
}

#battery.charging,
#battery.plugged {
    color: @teal;   
}

@keyframes blink {
    to {
        color: @text;
    }
}

/* Using steps() instead of linear as a timing function to limit cpu usage */
#battery.critical:not(.charging) {
    color: @error;
    animation-name: blink;
    animation-duration: 1s;
    animation-timing-function: steps(12);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#memory,
#disk,
#battery,
#temperature {
    margin-right: 0.7rem;
}

#memory.warning,
#cpu.warning {
    color: @warn;
}

#temperature.critical,
#memory.critical,
#cpu.critical {
    color: @error;
}

#idle_inhibitor.activated {
    color: alpha(@error, 0.8);
}