window {
margin: 0px;
border: 2px solid rgba(245, 245, 255, 0.03);
border-radius: 25px;
background-color: rgba(7, 0, 16, 0.9);
}

#input {
margin: 20px;
margin-top: 15px;
padding: 10px 20px;
margin-bottom: 10px;
border: none;
border-radius: 25px;
color: #f8f8f2;
background-color: rgba(18, 18, 28, 0.85);
}

#inner-box {
margin: 5px;
margin-top: 0px;
border: none;
background-color: rgba(0, 0, 0, 0);
}

#outer-box {
margin: 5px;
margin-bottom: 17px;
border: none;
padding-bottom: 0px;
background-color: rgba(0, 0, 0, 0);
}

#scroll {
margin: 0px;
border: none;
}

#text {
margin: 5px;
margin-left: 10px;
border: none;
color: #f8f8f2;
} 

#entry.activatable #text {
color: #070010;
}

#entry {
border-radius: 20px;
padding: 5px;
padding-left: 20px;
margin-left: 25px;
margin-right: 25px;
margin-top: 7px;
background-color: rgba(18, 18, 28, 0.85);
border: none;
}

#entry > * {
color: #f8f8f2;
}

#entry:selected {
background-color: rgba(245, 245, 255, 0.8);
}

#entry:selected #text {
font-weight: bold;
color: rgba(7, 0, 16, 1);
}
