@define-color base rgb(7, 0, 10);
@define-color background rgb(37, 34, 45);
@define-color hover rgb(150, 150, 150);
@define-color click rgb(175, 175, 175);
@define-color text rgb(235, 235, 240);
@define-color main rgb(74, 143, 231);
@define-color warn rgb(249, 248, 113);
@define-color teal rgb(0, 201, 187);
@define-color error rgb(160, 21, 62);


* {
  all: unset;
  font-family: FiraCode Nerd Font;
  font-size: 1.2rem;
}



.floating-notifications.background .notification-row {
  padding: 1rem;
}

.floating-notifications.background .notification-row .notification-background {
  border-radius: 0.5rem;
  background-color: @base;
  color: @text;
}

.floating-notifications.background
  .notification-row
  .notification-background
  .notification {
  padding: 0.5rem;
  border-radius: 0.5rem;
}

.floating-notifications.background
  .notification-row
  .notification-background
  .notification.critical {
  border: 1px solid @error;
}

.floating-notifications.background
  .notification-row
  .notification-background
  .notification
  .notification-content
  .summary {
  margin: 0.5rem;
  color: @text;
  font-weight: bold;
}

.floating-notifications.background
  .notification-row
  .notification-background
  .notification
  .notification-content
  .body {
  margin: 0.5rem;
  color: #908caa;
}

.floating-notifications.background
  .notification-row
  .notification-background
  .notification
  > *:last-child
  > * {
  min-height: 3rem;
}

.floating-notifications.background
  .notification-row
  .notification-background
  .notification
  > *:last-child
  > *
  .notification-action {
  border-radius: 0.5rem;
  color: @text;
  background-color: #1f1d2e;
  border: 1px solid #6e6a86;
}

.floating-notifications.background
  .notification-row
  .notification-background
  .notification
  > *:last-child
  > *
  .notification-action:hover {
  background-color: alpha(@background, 0.8);
}

.floating-notifications.background
  .notification-row
  .notification-background
  .notification
  > *:last-child
  > *
  .notification-action:active {
  background-color: alpha(@hover, 0.5);
}

.floating-notifications.background
  .notification-row
  .notification-background
  .close-button {
  margin: 0.5rem;
  padding: 0.25rem;
  border-radius: 0.5rem;
  color: @text;
  background-color: @hover;
}

.floating-notifications.background
  .notification-row
  .notification-background
  .close-button:hover {
  color: @background;
}

.floating-notifications.background
  .notification-row
  .notification-background
  .close-button:active {
  background-color: alpha(@error, 0.6);
}

.control-center {
  border-radius: 10px;
  margin: 1rem;
  background-color: alpha(@background, 0.5);
  color: @text;
  padding: 1rem;
}

.control-center .widget-title {
  margin-left: 2rem;
  margin-right: 1rem;
  color: @text;
  font-weight: bold;
}

.control-center .widget-title button {
  border-radius: 0.5rem;
  color: @text;
  padding: 0.4rem 0.9rem 0.3rem 0.7rem;
}

.control-center .widget-title button:hover {
  color: @hover;
}

.control-center .widget-title button:active {
  color: @click;
}

.control-center .notification-row .notification-background {
  border-radius: 0.5rem;
  margin: 0.5rem 0;
  background-color: alpha(@base, 0.8);
  color: @text;
  border: 1px solid alpha(@text, 0.1);
}

.control-center .notification-row .notification-background .notification {
  padding: 0.5rem;
  border-radius: 0.5rem;
}

.control-center
  .notification-row
  .notification-background
  .notification.critical {
  border: 1px solid @error;
}

.control-center
  .notification-row
  .notification-background
  .notification
  .notification-content {
  color: @text;
}

.control-center
  .notification-row
  .notification-background
  .notification
  .notification-content
  .summary {
  margin: 0.5rem;
  color: @text;
  font-weight: bold;
}

.control-center
  .notification-row
  .notification-background
  .notification
  .notification-content
  .body {
  margin: 0.5rem;
  color: alpha(@base, 0.8);
}

.control-center
  .notification-row
  .notification-background
  .notification
  > *:last-child
  > * {
  min-height: 3rem;
}

.control-center
  .notification-row
  .notification-background
  .notification
  > *:last-child
  > *
  .notification-action {
  border-radius: 0.5rem;
  color: @text;
  background-color: @base;
  border: 1px solid @hover;
}

.control-center
  .notification-row
  .notification-background
  .notification
  > *:last-child
  > *
  .notification-action:hover {
  background-color: #26233a;
}

.control-center
  .notification-row
  .notification-background
  .notification
  > *:last-child
  > *
  .notification-action:active {
  background-color: #6e6a86;
}

.control-center .notification-row .notification-background .close-button {
  margin: 0.5rem;
  padding: 0.25rem;
  border-radius: 0.5rem;
  background-color: alpha(@background, 0.9);
  color: @text;
}

.control-center .notification-row .notification-background .close-button:hover {
  color: alpha(@error, 0.6);
}

.control-center
  .notification-row
  .notification-background
  .close-button:active {
  background-color: alpha(@error, 0.8);
}

progressbar,
progress,
trough {
  border-radius: 0.5rem;
}

.notification.critical progress {
  background-color: @error;
}

.notification.low progress,
.notification.normal progress {
  background-color: @teal;
}

trough {
  background-color: @base;
}

.control-center trough {
  background-color: @background;
}

.control-center-dnd {
  margin: 1rem 0;
  border-radius: 0.5rem;
}

.control-center-dnd slider {
  background: @base;
  border-radius: 0.5rem;
}

.widget-dnd {
  color: @hover;
}

.widget-dnd > switch {
  border-radius: 0.5rem;
  background: @background;
  border: 1px solid alpha(@text, 0.1);
}

.widget-dnd > switch:checked slider {
  background: #31748f;
}

.widget-dnd > switch slider {
  background: #6e6a86;
  border-radius: 0.5rem;
  margin: 0.25rem;
}

.widget-mpris {
  margin: 1rem;
  border-radius: 1rem;
  padding: 0.5rem 1rem;
  padding-top: 0.75rem;
  background-color: @mpris-album-art-overlay;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.75);
}

.widget-mpris .widget-mpris-player {
    padding: 16px;
    margin: 16px 20px;
    background-color: rgba(0, 0, 0, 0);
    border-radius: 12px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, .65);
}

.widget-mpris .widget-mpris-player button:hover {
    all: unset;
    background: @hover;
    color: @hover;
    text-shadow: none;
    border-radius: 15px;
    border: none; 
    padding: 5px; 
    margin: 5px;
    transition: all 0.5s ease; 
}

.widget-mpris .widget-mpris-player button {
    color: @text;
    text-shadow: none;
    border-radius: 15px;
    border: none;
    padding: 5px;
    margin: 5px;
    transition: all 0.5s ease;
}

.widget-mpris .widget-mpris-player button:not(.selected) {
    background: transparent;
    border: 2px solid transparent;
}
.widget-mpris .widget-mpris-player button:hover {
    color: @hover;
    border: 2px solid transparent;
}

.widget-mpris .widget-mpris-player .widget-mpris-album-art {
    border-radius: 20px;
}

.widget-mpris .widget-mpris-player .widget-mpris-title {
    font-weight: bold;
    font-size: 1.25rem;
}

.widget-mpris .widget-mpris-player .widget-mpris-subtitle {
    font-size: 1.1rem;
}

.widget-mpris .widget-mpris-player > box > button:hover {
    background-color: @mpris-button-hover;
    color: @hover;
}

.widget-buttons-grid {
  font-family: "JetBrainsMono Nerd Font", Roboto, Helvetica, Arial, sans-serif;
  margin: 0rem 1rem;
  border-radius: 1rem;
  padding: 0.5rem 0.5rem;
  background-color: alpha(@background, 0.25);
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.75);
}

.widget-buttons-grid>flowbox>flowboxchild>button label {
  font-size: 20px;
  color: @text;
  transition: all .2s ease;
}
.widget-buttons-grid>flowbox>flowboxchild>button:hover label {
  font-size: 20px;
  color: @hover;
  transition: all .25s ease;
}
.widget-buttons-grid > flowbox > flowboxchild > button {
  margin-right: 0.5rem;
  margin-left: 0.5rem;
  background: transparent;
  border-radius: 12px;
  text-shadow:none;
  transition: all .25s ease;
}
.widget-buttons-grid > flowbox > flowboxchild > button:hover {
  color: @hover;
  transition: all .25s ease;
}

.widget-buttons-grid > flowbox > flowboxchild > button.toggle:checked {
  color: @main;
}
.widget-buttons-grid > flowbox > flowboxchild > button.toggle:checked label {
  color: @main;
}


trough {
  border-radius: 20px;
  background: transparent;
}

trough highlight {
  padding: 5px;
  background: @text;
  border-radius: 20px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, .5);
  transition: all .2s ease;
}
trough highlight:hover {
  padding: 5px;
  background: @text;
  border-radius: 20px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 1);
  transition: all .2s ease;
}

trough slider {
  background: transparent;
}
trough slider:hover {
  background: transparent;
}

.widget-volume {
  background-color: transparent;
  padding: 8px;
  margin: 8px;
  border-radius: 12px;
}